UIWebServices.Tests/Web References/ref3/AdminDesktopWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="getLoan">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="loan_id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getLoanResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getLoanResult" type="tns:Loan" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Loan" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getLoanSoapIn">
    <wsdl:part name="parameters" element="tns:getLoan" />
  </wsdl:message>
  <wsdl:message name="getLoanSoapOut">
    <wsdl:part name="parameters" element="tns:getLoanResponse" />
  </wsdl:message>
  <wsdl:portType name="AdminDesktopWSSoap">
    <wsdl:operation name="getLoan">
      <wsdl:input message="tns:getLoanSoapIn" />
      <wsdl:output message="tns:getLoanSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AdminDesktopWSSoap" type="tns:AdminDesktopWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getLoan">
      <soap:operation soapAction="http://tempuri.org/getLoan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AdminDesktopWSSoap12" type="tns:AdminDesktopWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getLoan">
      <soap12:operation soapAction="http://tempuri.org/getLoan" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AdminDesktopWS">
    <wsdl:port name="AdminDesktopWSSoap" binding="tns:AdminDesktopWSSoap">
      <soap:address location="http://localhost:58065/AdminDesktopWS.asmx" />
    </wsdl:port>
    <wsdl:port name="AdminDesktopWSSoap12" binding="tns:AdminDesktopWSSoap12">
      <soap12:address location="http://localhost:58065/AdminDesktopWS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>